[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipykernel = "*"
jupyter = "*"
opencv-contrib-python = "*"
torchvision = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"
lxml = "*"
torch = "==0.4.0"

[requires]
python_version = "3.6"
